algorithm_name: {{ name }}
algorithm_version: {{ version }}

algorithm_description: "{{ description }}"

code_repository: {{ repository_url }}

run_command: NISAR_OGC_JOB/generated_package/run.sh
build_command: NISAR_OGC_JOB/generated_package/build.sh

ram_min: {{ ram_min }}
cores_min: {{ cores_min }}

base_container_url: {{ base_container }}

inputs:
{{ algorithm_inputs_block }}

outputs:
  - name: out
    type: Directory

outdir_max: {{ outdir_max }}
