cwlVersion: v1.2
class: CommandLineTool
id: application
label: {{ name }}

requirements:
  DockerRequirement:
    dockerPull: {{ base_container }}

baseCommand:
  - /opt/app/run.sh

inputs:
{{ cwl_inputs_block }}

outputs:
  out:
    type: Directory
    outputBinding:
      glob: output
