cwlVersion: v1.2
$namespaces:
  s: https://schema.org/
s:softwareVersion: "{{ version }}"
class: Workflow
id: main
label: {{ name }} workflow
doc: "{{ description }}"

inputs:
{{ cwl_workflow_inputs_block }}

outputs:
  out:
    type: Directory
    outputSource: run_app/out

steps:
  run_app:
    run: {{ cwl_file_name }}
    in:
{{ cwl_workflow_step_inputs_block }}
    out:
      - out
